.usage{
    display: flex;
    justify-content: center;
}
.usage-itm{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 3px;
    border: 10px solid blue;
}
.usage-itm label{
    font-size: 89px;
    font-weight: 50px;
}
.usage-itm button{
    font-size: 30px;
    }